/* Start Font */
@import url('https://fonts.googleapis.com/css?family=Roboto');
/* Start Font */

/* Start Effect CSS */
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
/* End Effect CSS */

/* Start Body*/
body {
    color: #1c2524;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    margin: 5;
    padding: 5;
}
/* End Body*/

/* Start Debug */

.bg-blue {
    background-color: blue;
}

.bg-red {
    background-color: red;
}

.bg-yellow {
    background-color: yellow
}
/* Enda Debug */

/* Start Container */
.cotainer {
    margin: 10px auto;
    overflow: auto;
    width: 80%%;
}

.cotainer-full {
    margin: 10px auto;
    overflow: auto;
    width: 100%;
}
/* End Container */

/* Start Logo */
.logo {
    text-align: center;
}
/* End Logo */

/* Start Menu Primer */
.menu-primer ul {
    background-color: rgb(11, 63, 24);
    border-radius: 10px;
    box-shadow:
        0 3px 5px -1px solid rgb(156, 163, 168),
        0 6px 10px 0 solid rgba(199, 200, 209),
        0 1px 18px 0 solid rgba(204, 218, 214, 0.966);
}
.menu-primer li {
    border-right: 2px solid #d0d3d8;
    display: inline-block;
    margin: 0 -4px;
}
.menu-primer a {
    color: rgb(231, 223, 223);
    font-size: 13;
    display: inline-block;
    letter-spacing: 1px;
    padding: 10px 20px;
    text-transform: uppercase;
}
.menu-primer ul {
    text-align: center;
}
.menu-primer a:hover {
    background-color: #e2e6ec;
    color: black;
    text-decoration: none;
}

/* End Menu Primer */ 

/* Start Heading */
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    letter-spacing: 1px;
}
h1 {
    font-size: 40px;
}
h2 {
    font-size: 28px;
}
h3 {
    font-size: 26px;
}
h4 {
    font-size: 23px;
}
h5 {
    font-size: 21px;
}
h6 {
    font-size: 19px;
}
/* End Heading */

/* Start Jumboton */
.jumboton {
    text-align: center;
}
.jumboton {
    background-color: #f6f8fa;
    border: 1px solid #aeacef;
    border-radius: 2px;
    padding: 15px 0;
}
.jumboton h1 {
    font-size: 32px;
    padding: 0 20px;
}
.jumboton h3 {
    font-size: 20px;
    padding: 0 20px;
}
/* End Jumboton */

/* Start Main */
.main-home-one {
    float: left;
    width: 49.5%;
}
.main-home-two {
    float: right;
    width: 49.5%;
}
.main-home-one .box-isi,
.main-home-two .box-isi {
    height: 100px;
}
/* End Main */

/* Start Box */
.box-heading {
    background-color: rgb(101, 161, 109);;
    border: 1px solid #0e0f0f;
    border-radius: 3px 3px 0 0;
    margin: 0;
    margin-top: 5%;
    padding: 10px 20px;
    text-transform: uppercase;
}
.box-heading h4 {
    font-size: 14px;
    margin: 0;
}
.box-isi {
    background-color: white;
    border: 1px solid black;
    margin: 0;
    padding: 10px 20px
}
/* End Box */

/* Start Menu Sekunder */

.menu-sekunder h4 {
    font-size: 14px;
    margin: 0 auto;
    text-transform: uppercase;
}
.menu-sekunder ul {
        padding: 0;
}
.menu-sekunder li {
    list-style: disc;
}
.menu-sekunder li a
.menu-sekunder p {
    font-size: 15px;
}
.menu-sekunder-one,
.menu-sekunder-two,
.menu-sekunder-three {
    float: left;
}
.menu-sekunder-one {
    width: 40%;
}
.menu-sekunder-two,
.menu-sekunder-three {
    width: 30%;
}
/* End Menu Sekunder */

/* Start Copyright */
.copyright p {
    font-size: 15px;
}
/* Start Effect */
.snip1494 {
position: relative;
overflow: hidden;
margin: 10px;
min-width: 230px;
max-width: 30%;
width: 100%;
color: #ffffff;
font-size: 16px;
background-color: #000000;
-webkit-transform: translateZ(0);
transform: translateZ(0);
display: inline-block;
}
.snip1494 *,
.snip1494 *:before,
.snip1494 *:after {
-webkit-box-sizing: border-box;
box-sizing: border-box;
-webkit-transition: all 0.3s ease;
transition: all 0.3s ease;
}
.snip1494 img {
 max-width: 100%;
backface-visibility: hidden;
vertical-align: top;
width: 100%;
}
.snip1494 figcaption {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
}
.snip1494 figcaption:before,
.snip1494 figcaption:after,
.snip1494 figcaption div:before,
.snip1494 figcaption div:after {
opacity: 0;
-webkit-transform: scale(0.05);
transform: scale(0.05);
}
.snip1494 figcaption:before,
.snip1494 figcaption:after {
height: 50%;
width: 50%;
position: absolute;
content: '';
background-color: #080808;
}
.snip1494 figcaption:before {
top: 0;
left: 0;
}
.snip1494 figcaption:after {
bottom: 0;
right: 0;
}
.snip1494 figcaption div:before,
.snip1494 figcaption div:after {
width: 50%;
height: 50%;
position: absolute;
content: '';
background-color: #000000;
}
.snip1494 figcaption div:before {
top: 0;
right: 0;
}
.snip1494 figcaption div:after {
bottom: 0;
left: 0;
}
.snip1494 i {
position: absolute;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
font-size: 4em;
z-index: 1;
opacity: 0;
}
.snip1494 a {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
z-index: 1;
}
.snip1494:hover img,
.snip1494.hover img {
zoom: 1;
filter: alpha(opacity=50);
-webkit-opacity: 0.5;
opacity: 0.5;
}
.snip1494:hover i,
.snip1494.hover i {
opacity: 0.7;
-webkit-transition-delay: 0.2s;
transition-delay: 0.2s;
}
.snip1494:hover figcaption:before,
.snip1494.hover figcaption:before,
.snip1494:hover figcaption:after,
.snip1494.hover figcaption:after,
.snip1494:hover figcaption div:before,
.snip1494.hover figcaption div:before,
.snip1494:hover figcaption div:after,
.snip1494.hover figcaption div:after {
-webkit-transform: scale(1);
transform: scale(1);
opacity: 0.8;
}
.snip1494:hover figcaption:before,
.snip1494.hover figcaption:before {
-webkit-transition-delay: 0;
transition-delay: 0;
}
.snip1494:hover figcaption:after,
.snip1494.hover figcaption:after {
-webkit-transition-delay: 0.3s;
transition-delay: 0.3s;
}
.snip1494:hover figcaption div:before,
.snip1494.hover figcaption div:before {
-webkit-transition-delay: 0.1s;
transition-delay: 0.1s;
}
.snip1494:hover figcaption div:after,
.snip1494.hover figcaption div:after {
-webkit-transition-delay: 0.2s;
transition-delay: 0.2s;
}
/* End Effect */

/* Start untuk HP */
@media only screen and (max-width: 480){
    .main-home-one {
        float: left;
        width: 100%;
    }
    .main-home-two {
        float: right;
        width: 100%;
    }
}
/* End untuk HP */